html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 14px;
}

:root {
	--grey: #2d2d2d;
	--light-grey: #dfdfdf;
	--white: #efefef;
	--black: #202020;
	--selection: red;
	--node-highlite: blue;
}

/* Colours */
.node {
	color: var(--black);
	stroke: var(--black);
}

.selection {
	color: var(--selection) !important;
}

.node-highlite {
	color: var(--node-highlite);
}

.link-highlite , .node-highlite_secondary {
	color: var(--selection);
	stroke: var(--light-grey);
	/* stroke-width: 5; */
	/* stroke-opacity: .5; */
}

.link {
	color: var(--black);
	stroke: var(--light-grey);
	stroke-width: .5;
}

header {
	height: 20px;
	background-color: var(--white);
}

.title {
	/* text-shadow: white 1px 0 10px,white 1px 0 10px,white 1px 0 10px,white 1px 0 10px,white 1px 0 10px,white 1px 0 10px; */
}

/* Typography */

h1,h2,h3,h4,p {
	font-weight: normal;
	margin: 0;
	padding: .2rem;
}

h1 {
	font-size: 1.33vw;
}

h2 {
	font-size: 1.2vw;
}
	
h3 {
	font-size: 1.1vw;
}

h4 {
	font-size: 1vw;
}

p {
	font-size: 1.4vw;
}

.biblio { 
	font-size: .875vw;
}

.markdown h1, .markdown h2, .markdown h3,.markdown h4 {
	text-align: center;
	border-bottom: 1px solid var(--grey);
	margin: 2rem 0 .5rem 0;
}

.markdown > p, .markdown blockquote, .markdown ul, .biblio {
	font-family: "Redaction", serif;
	margin-bottom: 1rem;
}

.markdown li {
	padding-bottom: 1rem;
}

.markdown > p {
	text-indent: 3rem;
}

sup a {
	text-decoration: none;
	color: var(--node-highlite);
	padding-left: .2rem;
}


blockquote {
	font-size: 1rem;
	font-style: italic;
}


/* Layout */

body {
	margin: 0;
	padding: 0;
	font-family: "Authentic", sans-serif;
}

a {
	cursor: pointer;
}

.external {
	color: unset;
	text-decoration: underline;
}

.markdown {
	max-width: 40vw;
	/* background-color: #F2F2F2; */
}

.markdown img {
	width: 1.2em;
	height: 1.2em;
	line-height: 2;
	vertical-align: middle;
	object-fit: contain;
	padding: 0 0.25rem;
}

.detail {
	background-color: #fcfcfc;
}

foreignObject img {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}
/* Imports */

@font-face {
	font-family: "Redaction";
	font-weight: normal;
	font-style: normal;
	src: url("./fonts/Redaction-Regular.woff2") format("woff2")
}
	
@font-face {
	font-family: "Redaction";
	font-weight: bold;
	src: url("./fonts/Redaction-Bold.woff2") format("woff2")
}
	
@font-face {
	font-family: "Redaction";
	font-style: italic;
	src: url("./fonts/Redaction-Italic.woff2") format("woff2")
}

@font-face {
	font-family: "Authentic";
	font-style: normal;
	src: url("./fonts/AUTHENTICSans-90.woff") format("woff");
}

/* Minor changes */

::-webkit-scrollbar {
	display: none;
}
  
::selection {
	background-color: var(--node-highlite);
	color: var(--white);
}